.demo-buttons {
	box-sizing: border-box;
	display: inline-block;
    vertical-align: middle;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background: #444;
    color: #fefefe;
}

.demolist.fancynav-add {
	display:none;
}
